# --- Repositórios e Diretórios Independentes ---
# Bloqueia o rastreamento das pastas completas pelo repositório pai
cloud/aws/02-aws-exams
cloud/azure/02-azure-exams
cloud/google/02-google-exams

# --- Arquivos de Sistema ---
.DS_Store
Thumbs.db
*.tmp
