# --- Repositórios e Diretórios Independentes ---
# Bloqueia o rastreamento das pastas completas pelo repositório pai
#Ignorar todas as subpastas dentro de 01-saa-c03, mas manter arquivos da raiz dela
cloud/aws/02-aws-exams/01-saa-c03/*/
#cloud/aws/02-aws-exams
#cloud/azure/02-azure-exams
#cloud/google/02-google-exams
cloud/projects/project-aws-enterprise-landing-zone-iac
cloud/projects/project-aws-01-aaa
cloud/projects/project-aws-02-bbb
cloud/projects/project-azure-01-aaa
cloud/projects/project-google-01-aaa
devops/projects/project-devops-01-aaa
devops/projects/project-devops-02-aaa

# --- Arquivos de Sistema ---
.DS_Store
Thumbs.db
*.tmp
